{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
<body class="registerBody">


<div class="contenido-registro">
<div class="wrapper register-w">

    <div class="form-box register">
        <h2 class="text-login" style="color: black; font-weight: 600;">Registrar</h2>
        <form action="{% url 'registro' %}" enctype="multipart/form-data"  method="POST">
            {% csrf_token %}
            <div class="input-box">
              
                <input  name="username"type="text" required>
                <label for="">Nombre de usuario</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="email"  name="correo" required>
                <label for="">Email</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon></span>
                <input  name="password" type="password" required>
                <label for="">Contraseña</label>
            </div>
            <div class="remember-forgot">
                <label for="" class="textCheck"><input type="checkbox" class="checks"> Estoy de acuerdo con los terminos</label>
            </div>
            <br>
            <div class="remember-forgot">
                <label for="" class="textCheck"><input type="checkbox" name="trabajador" class="textCheckb">trabajador</label>
              </div>
              <br>
              <div class="remember-forgot">
                <label for="" class="textCheck"><input type="checkbox" name="ingtec" class="textCheckb">Ingeniero o Tecnico</label>
              </div>
            <br>
            <div class="remember-forgot">
                <label for="" class="textCheck"><input type="checkbox" name="supervisor" class="textCheckb">Supervisor</label>
              </div>
            <button type="submit" id="validarBtn" class="btn-login">Registrar</button>
            <div class="login-register">
                <p class="textCheck">¿Ya tienes una cuenta?<a 
                    href="{% url 'login' %}" class="login-link"> Ingresar</a></p>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
<script src="{% static 'app/js/script.js' %}"></script>


{% endblock %}