{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}


<body class="consultavm">
    


    <div class="container-consulta">
        <img src="{% static 'app/img/medico3.jpg' %}" alt="" class="medico3">
        
        <section class="heor">
            <div class="heading">
                <h2>Consultas De Información Medica</h2>
            </div>
            <div class="container-medicina">
                <div class="hero-image">
                    <img class="imgMedicina" src="{% static 'app/img/18240.jpg' %}" alt="">
                </div>
                <div class="hero-content">
                    <h3>Ingrese su Rut o nombre para buscar su registro</h3>
                    <p>En esta sección, te ofrecemos una experiencia de búsqueda de
                         consultas de información medica optimizada y personalizada.
                          Nuestra plataforma te permite explorar una amplia 
                          y detallada información sobre tus examenes medicos, especializados en 
                          diversas áreas médicas, como Cardiologia, Dermatologia, Traumatologia, etc.
                          Nos enorgullecemos de brindar un entorno seguro y confidencial 
                          para tus necesidades de salud. Todas las consultas se realizan 
                          de manera virtual o presencial, según tu elección. 
                          La comunicación fluida entre pacientes y profesionales es 
                          fundamental para nosotros, y estamos comprometidos a garantizar
                          que cada encuentro sea satisfactorio y esclarecedor.
                    </p>
                    <center><button class="botonI" onclick="redirigirAOtraURL()">Inicio</button></center>
                  
                </div>
    
    
                
    
            </div>
           
    
        </section>
        
        
    </div>
    
    
    <div class="botonBusc" style="margin-bottom: 200px;">
        <form method="get" action="{% url 'consultaInfoM' %}" >
            <div class="search-box" style="background-color: rgb(27, 98, 231);">
              <div class="input-box1" style="color: black;">
                <i class='bx bx-search'></i>
                <input type="text" type="submit" placeholder="Buscar... " name="registro_id">
              </div>
            </div>
            </form>
        </div>
    
    
        {% if registro %}
        <div class="contenedor-informe">
            <h1 class="tituloInf">Informes de Examenes</h1>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Nombre Completo Paciente</th>
                            <th>RUT Paciente</th>
                            <th>Nombre del Medico</th>
                            <th>Fecha del Examen</th>
                            <th>Género</th>
                            <th>Resultados</th>
                            <th>Observaciones</th>
                            <th>Servicio de Atención</th>
                            <th>Historial Medico</th>
                            <th>Tratamiento Recomendado</th>
                            <th>Siguiente Atención</th>
                          
                        
                        </tr>
                    </thead>
                    <tbody class="active-row">
                            <tr>
                                <td>{{ registro.nombre_completoE }}</td>
                                <td>{{ registro.rutE }}</td>
                                <td>{{ registro.nombre_medicoE }}</td>
                                <td>{{ registro.fecha_examenE }}</td>
                                <td>{{ registro.generoE }}</td>
                                <td>{{ registro.resultadoE }}</td>
                                <td>{{ registro.observacionE }}</td>
                                <td>{{ registro.servicio_atencionE }}</td>
                                <td>{{ registro.historialE }}</td>
                                <td>{{ registro.tratamientoE }}</td>
                                <td>{{ registro.fecha_proxE }}</td>
                            
                            </tr>
                        
                    </tbody>
                </table>
        
            </div>
    {% endif %}
    
    </body>
 
    <script>
        function redirigirAOtraURL() {
            window.location.href = "{% url 'home' %}";
        }
    </script>    

{% endblock %}