{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div class="contenido">
    <img src="{% static 'app/img/riesgos-mineria.jpg' %}" alt="" class="banner">

    <div class="contenido-texto">
    <h2 class="titulo1">Bienvenido a Safe - Especialistas en Prevención de Riesgos en Minería</h2>
    <p class="texto1">En Safe, nos dedicamos a garantizar la seguridad y bienestar en la industria minera. Nuestro compromiso es reducir al mínimo los riesgos y promover un entorno de trabajo seguro para todos los involucrados.</p>
    </div>

</div>

<section>
    <div class="card" id="card">
        <div class="card-header">
          <h2>Nuestro Compromiso</h2>
        </div>
        <div class="card-content">
          <p>En Safe, estamos dedicados a garantizar la seguridad y bienestar en la industria minera. 
            Somos conscientes de los desafíos inherentes a este sector y comprendemos la importancia de salvaguardar 
            la integridad de las personas y los activos. Nuestra misión es ser un socio confiable y eficaz en la prevención 
            de riesgos, contribuyendo así a un entorno minero más seguro y sostenible.</p>
        </div>
      </div>
      
</section>

<section>
    <div class="card">
        <div class="card-header">
          <h2>Servicios de Safe</h2>
        </div>
        <div class="card-content">
          <ul>
            <p>En safe a lo largo de nuestra experiencia hemos aprendido y adquirido nuevos servicios
                para nuestros trabajadores en el area de mineria asegurando su salud en las mejores manos, tal como:
            </p>
            <li>Evaluación de terrenos y Gestión de Riesgos</li>
            <li>Capacitación y Formación</li>
            <li>Consultoría y Asesoría</li>
            <li>Atenciones Medicas</li>
            <li>Examenes Medicos</li>
          </ul>
        </div>
      </div>
      
</section>


<section><div class="card" >
    <div class="card-header">
      <h2>Acerca de Nosotros</h2>
    </div>
    <div class="card-content">
      <p>Fundada en 1997, En Safe Contamos con una trayectoria dedicada 
        a la seguridad en la industria minera, nos hemos fortalecido con el tiempo, 
        expandiendo nuestros servicios para garantizar la salud y el bienestar de nuestros 
        trabajadores. Ofrecemos evaluación de terrenos, gestión de riesgos, capacitación integral, 
        consultoría especializada, atención médica y exámenes médicos exhaustivos. Nos comprometemos 
        a evolucionar con la industria y mantener estándares excepcionales, demostrando una dedicación 
        constante a la seguridad y al bienestar en el entorno minero mediante la digitalización para un trabajo mas eficiente.</p>
    </div>
  </div>
</section>



<section>

</section>

<section class="contact" id="contact">
    <h1 class="heading">
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>
        <span>o</span>
    </h1>
    <div class="row">
        <div class="img">
            <img class="imgcontact" decoding="async" src="{% static 'app/img/kpn-safety_plan-seguridad-minera.jpg' %}" alt="">
        </div>
        <form  method="post">
          
          {% csrf_token %}


            <div class="inputBox">
                <input type="text" placeholder="Nombre" name="nombre">
                <input type="email" placeholder="Email" name="email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Número" name="numero">
                <input type="text" placeholder="Asunto" name="asunto">
            </div>
            <textarea placeholder="Mensaje" name="mensaje" cols="30" rows="10" ></textarea>
            <div class="btn-contenedor">
            <input type="submit" class="bn632-hover bn28" value="Enviar">
            </div>
        </form>
    </div>
</section>

{% endblock %}