{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
{% load humanize %}
<body class="informes">
    
    <div class="botonBusc">
    <form method="get" action="{% url 'buscar' %}" >
        <div class="search-box">
          <div class="input-box1">
            <i class='bx bx-search'></i>
            <input type="text" type="submit" placeholder="Buscar... " name="buscar">
          </div>
        </div>
        </form>
    </div>

<div class="containerInf">
    <div class="contenedor-informe">
        {% if perms.app.view_regcapacitacion %}

    <h1 class="tituloInf">Informes de Capacitación</h1>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Nombre del Curso</th>
                    <th>Fecha del Curso</th>
                    <th>Género</th>
                    <th>Ubicación del Curso</th>
                    <th>Encargado del Curso</th>
                    <th>Metodología de Enseñanza</th>
                    <th>Ciudad</th>
                    <th>Región</th>
                    <th>Código Postal</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                
                </tr>
            </thead>
            <tbody class="active-row">
                {% for c in capacitaciones %}
                    <tr>
                        <td>{{ c.nombre_completo }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.nombre_curso }}</td>
                        <td>{{ c.fecha_curso }}</td>
                        <td>{{ c.genero }}</td>
                        <td>{{ c.ubicacion_curso }}</td>
                        <td>{{ c.encargado_curso }}</td>
                        <td>{{ c.metodologia_ensenanza }}</td>
                        <td>{{ c.ciudad }}</td>
                        <td>{{ c.region }}</td>
                        <td>{{ c.codigo_postal }}</td>
                        {% if perms.app.change_regcapacitacion %}
                        <td><a href="{% url 'modificar_formulario' c.id%}" class="btn btn-info btn-sm">Modificar</a></td>
                        {% endif %}
                        {% if perms.app.delete_regcapacitacion %}
                        <td><a href="{% url 'eliminar_formulario' c.id%}" class="btn btn-danger btn-sm">Eliminar</a></td>
                        {% endif %}
                     
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <br><br>

    <div class="contenedor-informe">
        {% if perms.app.view_regmedico %}
        <h1 class="tituloInf">Informes de Atenciones Medicas</h1>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Nombre Completo Paciente</th>
                        <th>RUT Paciente</th>
                        <th>Nombre del Medico</th>
                        <th>Fecha Atención Medica</th>
                        <th>Género</th>
                        <th>Previsión del Paciente</th>
                        <th>Ocupación del Paciente</th>
                        <th>Servicio de Atención</th>
                        <th>Historial Medico</th>
                        <th>Alergias</th>
                        <th>Siguiente Atención</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    
                    </tr>
                </thead>
                <tbody class="active-row">
                    {% for m in atenciones %}
                        <tr>
                            <td>{{ m.nombre_completoM }}</td>
                            <td>{{ m.rutM }}</td>
                            <td>{{ m.nombre_medicoM }}</td>
                            <td>{{ m.fecha_atencionM }}</td>
                            <td>{{ m.genero1 }}</td>
                            <td>{{ m.previsionM }}</td>
                            <td>{{ m.ocupacionM }}</td>
                            <td>{{ m.servicio_atencionM }}</td>
                            <td>{{ m.historialM }}</td>
                            <td>{{ m.alergiaM }}</td>
                            <td>{{ m.fecha_proxM }}</td>
                            {% if perms.app.change_regmedico %}
                            <td><a href="{% url 'modificar_formulario1' m.id%}" class="btn btn-info btn-sm">Modificar</a></td>
                            {% endif %}
                            {% if perms.app.delete_regmedico %}
                            <td><a href="{% url 'eliminar_formulario1' m.id%}" class="btn btn-danger btn-sm">Eliminar</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

        <br><br>

        <div class="contenedor-informe">
            {% if perms.app.view_regexamen %}
            <h1 class="tituloInf">Informes de Examenes</h1>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Nombre Completo Paciente</th>
                            <th>RUT Paciente</th>
                            <th>Nombre del Medico</th>
                            <th>Fecha del Examen</th>
                            <th>Género</th>
                            <th>Resultados</th>
                            <th>Observaciones</th>
                            <th>Servicio de Atención</th>
                            <th>Historial Medico</th>
                            <th>Tratamiento Recomendado</th>
                            <th>Siguiente Atención</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        
                        </tr>
                    </thead>
                    <tbody class="active-row">
                        {% for e in examenes %}
                            <tr>
                                <td>{{ e.nombre_completoE }}</td>
                                <td>{{ e.rutE }}</td>
                                <td>{{ e.nombre_medicoE }}</td>
                                <td>{{ e.fecha_examenE }}</td>
                                <td>{{ e.generoE }}</td>
                                <td>{{ e.resultadoE }}</td>
                                <td>{{ e.observacionE }}</td>
                                <td>{{ e.servicio_atencionE }}</td>
                                <td>{{ e.historialE }}</td>
                                <td>{{ e.tratamientoE }}</td>
                                <td>{{ e.fecha_proxE }}</td>
                                {% if perms.app.change_regexamen %}
                                <td><a href="{% url 'modificar_formulario2' e.id%}" class="btn btn-info btn-sm">Modificar</a></td>
                                {% endif %}
                                {% if perms.app.delete_regexamen %}
                                <td><a href="{% url 'eliminar_formulario2' e.id%}" class="btn btn-danger btn-sm">Eliminar</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>


            <br><br>

            <div class="contenedor-informe">
                {% if perms.app.view_regterreno %}
                <h1 class="tituloInf">Informes de Terrenos</h1>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Nombre del Terreno</th>
                                <th>Ubicación del terreno</th>
                                <th>Topografía</th>
                                <th>Fecha del Registro</th>
                                <th>Riesgos</th>
                                <th>Clima del terreno</th>
                                <th>Observaciones</th>
                                <th>Tipos de terrenos</th>
                                <th>Sustancias Peligrosas</th>
                                <th>Material Utilizado</th>
                                <th>Salidas de Emergencia</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            
                            </tr>
                        </thead>
                        <tbody class="active-row">
                            {% for t in terrenos %}
                                <tr>
                                    <td>{{ t.nombre_terreno }}</td>
                                    <td>{{ t.ubicacion_terreno }}</td>
                                    <td>{{ t.topografia }}</td>
                                    <td>{{ t.fecha_registro }}</td>
                                    <td>{{ t.riesgo1 }}</td>
                                    <td>{{ t.clima }}</td>
                                    <td>{{ t.obsevacionT }}</td>
                                    <td>{{ t.tipo_terreno }}</td>
                                    <td>{{ t.historialE }}</td>
                                    <td>{{ t.materialUt }}</td>
                                    <td>{{ t.salidas }}</td>
                                    {% if perms.app.change_regterreno %}
                                    <td><a href="{% url 'modificar_formulario3' t.id%}" class="btn btn-info btn-sm">Modificar</a></td>
                                    {% endif %}
                                    {% if perms.app.delete_regterreno %}
                                    <td><a href="{% url 'eliminar_formulario3' t.id%}" class="btn btn-danger btn-sm">Eliminar</a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
            
                </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-r/A1aBd2x0I2VdTrTasIjXYxKcSsxDfFWCV4wF/Yqz4ZMxyNKqCXSbR72HPWiMH3" crossorigin="anonymous">

<style>
    .expand-icon::before,
    .collapse-icon::before {
        content: '\f078'; /* Código del icono de flecha hacia abajo de Font Awesome */
        cursor: pointer;
        display: inline-block;
        float: right;
        margin-left: 10px;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }

    .collapse-icon::before {
        content: '\f077'; /* Código del icono de flecha hacia arriba de Font Awesome */
    }

    .contenedor-informe h1 {
        clear: both;
    }
</style>

<script>
    $(document).ready(function () {
        // Ocultar todas las tablas al principio
        $(".content-table").hide();

        // Añadir un ícono a los encabezados
        $(".contenedor-informe h1").prepend('<span class="expand-icon"></span>');

        // Manejar el evento de clic en los encabezados para colapsar/expandir
        $(".contenedor-informe h1").click(function () {
            var table = $(this).next(".content-table");
            $(".content-table").not(table).hide(); // Ocultar otras tablas
            table.toggle();

            // Cambiar el ícono según si la tabla está visible o no
            $(".contenedor-informe h1 span").removeClass("collapse-icon").addClass("expand-icon");
            if (table.is(":visible")) {
                $(this).find("span").removeClass("expand-icon").addClass("collapse-icon");
            } else {
                $(this).find("span").removeClass("collapse-icon").addClass("expand-icon");
            }
        });
    });
</script>

{% endblock %}