{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}


<!-- modificar.html -->
<div class="containerET">
    <h1 class="tituloF">Modificar Formulario de Evaluación de Terrenos</h1>
    <hr class="hr">
    <form method="post" class="formPC">
        {% csrf_token %}

        <div class="input-box" >
            <label for="">Nombre del terreno</label>
            {{ form3.nombre_terreno }}
        </div>
        <div class="input-box">
            {{ form3.ubicacion_terreno }}
        </div>
        <div class="column">
            <div class="input-box">
                {{ form3.topografia }}
            </div>
            <div class="input-box">
                <label class="fechaL">Fecha del Registro</label>
                {{ form3.fecha_registro }}
            </div>
        </div>
        <div class="gender-box">
            <h3>Riesgos</h3>
            <div class="gender-option">
                <div class="gender">
                    {{ form3.riesgo1 }}
                </div>
            </div>
        </div>
        <div class="input-box address">
            {{ form3.clima }}
            {{ form3.obsevacionT }}
            <div class="column">
                <div class="select-box">
                    {{ form3.tipo_terreno }}
                </div>
                {{ form3.deteccionQuimico }}
            </div>
            <div class="column">
                {{ form3.materialUt }}
                {{ form3.salidas }}
            </div>
            <button type="submit">Guardar cambios</button>
        </div>
    </form>
    {{ mensaje }}
</div>



{% endblock %}