{% extends 'app/base.html' %}


{% load static %}


{% block contenido %}

<div class="register-slide">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/img/capacitacion.jpeg' %}" class="d-block w-100 imgslide" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/evaluacion.jpg' %}" class="d-block w-100 imgslide" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/medico.jpg' %}" class="d-block w-100 imgslide" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>
<hr>

<h1 class="h1MainCard">Nuestros Servicios</h1>

<div class="card-container">
  <img class="card-img" src="{% static 'app/img/fondo1.webp' %}" alt="Imagen de la tarjeta">
  <div class="card-content">
    <div class="card-description">La industria minera presenta una serie de desafíos únicos en términos de seguridad y salud ocupacional. 
      La prevención de riesgos en este sector es crucial para garantizar la integridad física y mental de los trabajadores, así como para salvaguardar 
      el entorno de trabajo. Se requiere una gestión integral de la seguridad que abarque desde la identificación y evaluación de peligros hasta la 
      implementación de medidas preventivas y de respuesta ante emergencias.</div> 
      <hr>
    <p class="card-description1">Nuestros Servicios</p>
    <p class="card-description1">1. Evaluación de Riesgos</p>
    <p class="card-description1">2. Capacitación y Formación</p>
    <p class="card-description1">3. Planificación de Emergencias</p>
    <p class="card-description1">4. Auditorías de Seguridad</p>
    
  </div>
</div>




  <h1 class="tituloR" >Registros</h1>


  
  <section class="articles">
    {% if perms.app.add_regterreno %}
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'app/img/fondo1.webp' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Registro de Evaluación de terrenos</h2>
          <p class="textoP">
            Accede a informes breves y claros sobre las condiciones geológicas, riesgos identificados 
            y medidas de mitigación en nuestra sección de Evaluación de Terrenos. Mantenemos altos estándares 
            para tu seguridad en la industria minera, proporcionando información esencial para un entorno de trabajo seguro.
          </p>
          <a href="{% url 'registroET' %}" class="read-more">
            Ver Mas <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    {% endif %}
    
    <article>

      {% if perms.app.add_regcapacitacion %}
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'app/img/kpn-safety_plan-seguridad-minera.jpg' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Registro de Plan de capacitaciones</h2>
          <p class="textoP">
            Accede de manera rápida y organizada los detalles de tu formación en seguridad minera. 
            Accede a información clave sobre cursos realizados, recursos educativos y áreas de mejora.
             Este registro te capacita con el conocimiento necesario para abordar los desafíos en la 
             industria minera de manera segura y eficiente.         </p>
          <a href="{% url 'registroPC' %}" class="read-more">
            Ver Mas <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
      {% endif %}

      {% if perms.app.add_regexamen %}
      {% if perms.app.add_regmedico %}
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'app/img/medico2.webp' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Registro de atenciones medicas o examenes</h2>
          <p class="textoP">
            Accede rápidamente a tu historial de atenciones médicas y resultados de exámenes en el ámbito minero. 
            Proporcionamos información clara y organizada para una toma de decisiones informada sobre tu salud y 
            bienestar en el entorno laboral. Ofrecemos un acceso fácil y 
            transparente a tu información médica.</p>
          <a href="{% url 'registroAM' %}" class="read-more">
            Ver Mas <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    {% endif %}
    {% endif %}
  </section>
  

</div>

<div class="contenido-register">
  <h1 class="tituloR">Consultas</h1>

  <section class="articles">
    {% if perms.app.view_regmedico %}
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'app/img/medico.jpg' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Consulta de Visita medica </h2>
          <p class="textoP">
            Se detalla las consultas médicas realizadas durante el período específico. 
            Proporciona información clave sobre la salud de los trabajadores, incluyendo diagnósticos, 
            tratamientos y recomendaciones. El seguimiento regular de estas consultas es fundamental para 
            mantener un entorno de trabajo seguro y velar por el bienestar de los empleados.          </p>
          <a href="{% url 'consultaVM' %}" class="read-more">
            Ver Mas <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    {% endif %}
    <article>
      {% if perms.app.view_regexamen %}
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'app/img/examen.jpg' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Consulta de Información Medica</h2>
          <p class="textoP">
            te ofrecemos un acceso seguro y conveniente a la información sobre tu salud laboral.
             Aquí, podrás revisar detalladamente los resultados de tus exámenes médicos realizados 
             en el ámbito minero. Nos esforzamos por proporcionar transparencia y claridad en cada informe,
              asegurando que comprendas completamente tu estado de salud. Este servicio te permite tomar medidas
               informadas y proactivas para mantener tu bienestar en el entorno laboral minero.
          </p>
          <a href="{% url 'consultaInfoM' %}" class="read-more">
            Ver Mas <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    {% endif %}
    <article>
      {% if perms.app.view_regcapacitacion %}
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'app/img/evaluacion.jpg' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Consulta de Información de capacitación</h2>
          <p class="textoP">
           te brindamos acceso instantáneo y detallado a todos los aspectos relacionados 
            con tu formación en seguridad minera. Aquí, podrás revisar el historial de tus programas 
            de capacitación, obtener información sobre los cursos realizados y acceder a recursos 
            educativos relevantes. 
            esta sección está destinada a empoderarte con el 
            conocimiento necesario para enfrentar los desafíos en la industria minera de manera segura y eficiente.
          </p>
          <a href="{% url 'consultaIC' %}" class="read-more">
            Ver Mas <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    {% endif %}
  </section>
</div>

<div class="contenido-register3">
  <h1 class="tituloR">Informes</h1>

 <section class="cardI">
    <article >
      <div class="article-wrapper cardS">
        <figure>
          <img src="{% static 'app/img/capacitacion.jpeg' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Informes finales</h2>
          <p class="textoP">
            Este informe final se destaca la principal información y 
            recomendaciones para garantizar un entorno de trabajo seguro, buscando tener la información mas precisa para un 
            un documento completo y accesible.
          </p>
          <a href="{% url 'informe' %}" class="read-more">
            Ver Mas <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    
  </section>
</div>
<script src="{% static 'app/js/script.js' %}"></script>


{% endblock %}